*{
	top: 0;
	left: 0;
}
body{
	margin-left: 2px;
	width: 100%;
	margin-top: 2px;
}
#logo{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
#menu{
	margin-top: 10px;
	float: right;
	height: 10px;
}
#cabecalho{
	height: 100px;
	background-color: rgba(0,51,153,.9);
}
ul li{
	list-style-type: none;
	float: left;
	width: 150px;
}
ul li a{
	text-decoration: none;
	font-size: 20;
	font-weight: bold;
	color: white;
}
#carrosel{
	margin-top: 2px;
	width: 100%;
}
#footer{
	margin-top: 2px;
	height: 250px;
	background-color: rgba(0,51,153,.9);
	margin-right: 2px;
}
.info{
	float: left;
	margin-top: 20px;
}
.info a{
	text-decoration: none;
	color: white;
	font-size: 15;
}
#certificacao{
	margin-top: 20px;
	margin-right: 100px;
	float: right;
}
#info-contactos{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	height: 500px;
	background-color: white;
}
#info-contactos h2{
	font-size: 50px;
	color: rgb(51,108,204);
	text-align: center;
}
#info-contactos p{
	font-size: 20px;
	color: black;
	text-align: center;
}
#corpoprodutos{
	margin-top: 2px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
.produto{
	background-color: rgba(51,108,204,.7);
	width: 31%;
	float: left;
	padding: 10px;
	margin-bottom: 2px;
	margin-right: 2%;
	border-radius: 5px;
}
.produto h4{
	text-align: left;
}
.produto h5{
	text-align: right;
	margin-right: 5px;
}
#mapas{
	width: 100%;
	height: 500px;
	margin: auto;
}
#campcam{
	height: 400px;
}
#camposol{
	height: 400px;
}
.titleaboutus{
	font-size: 30px;
	color: rgb(51,108,204);
	text-align: center;
}
.aboutus{
	font-size: 20px;
	color: black;
	text-align: center;
}
.background{
	background-image: url('../images/ffield.jpg');
	background-position: center;
	background-size: cover;
}
